
<ion-content>
  <ion-card *ngIf="data">
    <ion-header >
      <ion-toolbar class="cardhead">
        <ion-title>By <b> {{ data.auth }} </b></ion-title>
      </ion-toolbar>
    </ion-header>
    <img *ngIf="data.img" src = {{data.img}}>
    
    <ion-card-content>
      <ion-card-title> {{ data.title }} </ion-card-title>
      <br>
      <p *ngIf="data.content" > 
        {{data.content}}  
      </p>
      
      <p *ngIf="!data.content" >
        {{data.description}}
      </p>
      <br>
      <br>
      <p style="float: right;" *ngIf="data.source_id" >
        Article Source : {{data.source_id}}
      </p>
      <br>
      <a href={{data.url}}>Read full article online</a>
    </ion-card-content>
    <div class="container" >
    <ion-button color="danger" (click)="back()"><ion-icon name="arrow-back-circle"></ion-icon> &nbsp; Back</ion-button>
    <ion-button id="leftbut" full color="primary" (click)="speak()">Read out article &nbsp; <ion-icon name="volume-high-outline"></ion-icon> </ion-button>
    </div>
  </ion-card>
</ion-content>