  .container{
      // text-align:  center;
      padding: 2%;
  }
  #leftbut{
    float: right;
  }
  ion-toolbar{
    background-color: white;
    color: white;
  }
  ion-header{
    background-color: white;
    color: white;
  }
  ion-card{
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.965);
    color: white;
  }
  ion-card-title{
    // background: black;
    color: white;
  }
  ion-title{
    // background: black;
    color: white;
  }
  ion-content{
      padding: 10%;
  }
